.page_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px;
}


.card_container {
  gap: 56px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


.navigates_container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 60px;
}

.navigates_link {
  margin: 30px;
  font-family: Prompt;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #bfffc3;
}

.link_post {
  text-decoration: none;
  cursor: pointer;
}
