.avatar_container {
  width: 85px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  padding: 0;
  gap: 8px;
}

.img_avatar {
  width: 32px;
  height: 32px;
  flex-grow: 0;
}


.name_avatar {
  width: 45px;
  height: 23px;
  font-family: Prompt;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #888;
}
